.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1200px;

  grid-template-areas: 
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.header {
  grid-area: h;
  background-color: #ce2626;
}

.header img {
  width: 50px;
}

.nav {
  grid-area: n;
  background-color: #69d526;
}

.content {
  grid-area: c;
  background-color: #0d8a71;
}

.content img {
  max-width: 1000px;
}

